<div class="option-address">
  <div class="sub_title">Select a Delivery Address</div>
  <div class="con">
    <button mat-flat-button color="gray_3" routerLink="./map">
      My location
    </button>
    <div class="paragraph">Using my location locates your current location</div>
  </div>
  <div class="or-line"><div class="paragraph">or</div></div>
  <div class="con">
    <button mat-flat-button color="gray_3" routerLink="./form">
      Add Address
    </button>
    <div class="paragraph">Add Address manually</div>
  </div>
</div>
