<div class="info-seller">
  <div class="container">
    <div class="cover-image image">
      <img src="assets/images/auth.jpg" alt="" />
    </div>
    <div class="con">
      <div class="image"><img src="assets/images/seller_1.jpg" alt="" /></div>
      <div class="info">
        <div class="name">Abdalrhman Walid</div>
        <div class="paragraph">Good Saller</div>
        <div class="rating-stars">
          <div class="star">
            <mat-icon>star</mat-icon>
          </div>
          <div class="star">
            <mat-icon>star</mat-icon>
          </div>
          <div class="star">
            <mat-icon>star</mat-icon>
          </div>
          <div class="star">
            <mat-icon>star_half</mat-icon>
          </div>
          <div class="star">
            <mat-icon>star_border</mat-icon>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
