<div class="payment">
  <mat-radio-group>
    <label class="sub_session">
      <mat-radio-button value="1"
        ><div class="con">
          <div class="image">
            <img src="assets/images/icons/5/0.png" alt="" />
          </div>
          <div class="paragraph">CREADIT CARD</div>
        </div></mat-radio-button
      >
    </label>
    <label class="sub_session">
      <mat-radio-button value="1"
        ><div class="con">
          <div class="image">
            <img src="assets/images/icons/6/0.png" alt="" />
          </div>
          <div class="paragraph">PAY ON DELIVERY</div>
        </div></mat-radio-button
      >
    </label>
  </mat-radio-group>
  <button mat-flat-button color="orange">Continue</button>
</div>
