<div class="form-auth">
  <div class="sub_title">Sign in</div>
  <form>
    <mat-form-field appearance="fill">
      <mat-label>Email or Phone number</mat-label>
      <input matInput formControlName="name" required />
      <mat-error>required</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input
        matInput
        formControlName="password"
        [type]="hide ? 'password' : 'text'"
        required
      />
      <mat-error>required</mat-error>
      <button
        mat-icon-button
        matSuffix
        (click)="hide = !hide"
        [attr.aria-label]="'Hide password'"
      >
        <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
      </button>
    </mat-form-field>
    <a routerLink="/auth/email" class="main_link">Forget password?</a>
  </form>
  <div class="btns-auth">
    <button mat-flat-button color="orange">Sign in</button>
    <button mat-flat-button routerLink="/auth/signup" color="dark_2">
      Create new Account
    </button>
  </div>
</div>
