<div class="statistics-seller">
  <div class="container">
    <div class="sub_session">
      <div class="sub_title">His Number</div>
      <ul>
        <li>
          <mat-icon>calendar_today</mat-icon>
          <div class="paragraph">99 Years</div>
        </li>
        <li>
          <mat-icon> attach_money</mat-icon>
          <div class="paragraph">999,999 EGP</div>
        </li>
        <li>
          <mat-icon>inbox</mat-icon>
          <div class="paragraph">999,999 item</div>
        </li>
        <li>
          <mat-icon>perm_identity</mat-icon>
          <div class="paragraph">999,999 Client</div>
        </li>
        <li>
          <mat-icon>language</mat-icon>
          <div class="paragraph">999,999 Country</div>
        </li>
      </ul>
    </div>
  </div>
</div>
