@use "../../../../../styles.scss" as main;

.cart {
  .container {
    display: grid;
    grid-template-columns: 4fr 1.5fr;
    align-items: flex-start;
    justify-content: flex-start;
    gap: main.$medium_x2;

    .group-products {
      .single-product {
        .info-product {
          .add_cart {
            mat-form-field {
              max-width: 100px;
              input {
                color: main.$color_dark_1;
              }
            }
          }
        }
      }
    }
    .summary {
      position: sticky;
      top: 0;
      background-color: main.$color_gray_3;
      padding: main.$medium main.$small_x2;
      border: 1px solid main.$color_gray_1;
      border-radius: main.$small_x;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      gap: main.$medium;

      .summary-info {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: main.$small_x;

        li {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          @extend .paragraph;
          font-weight: 600;

          .name {
            color: main.$color_dark_1;
          }
          .value {
            color: main.$color_orang_1;
          }
        }
      }
      button {
        width: 100%;
      }
    }
  }
}

@media (max-width: 768px) {
  .cart {
    .container {
      grid-template-columns: 1fr;
    }
  }
}

@media (max-width: 500px) {
  .cart {
    .container {
      .group-products {
        .single-product {
          .info-product {
            .add_cart {
              gap: main.$small;
              mat-form-field {
                max-width: 50px;
                margin: 0 main.$small_x;
              }
            }
          }
        }
      }
    }
  }
}
