<div class="his-products">
  <div class="container">
    <div class="sub_session">
      <div class="sub_title">His Products</div>
      <div class="group-products big-grid">
        <div class="single-product" *ngFor="let product of products">
          <div class="image" routerLink=":1">
            <img [src]="product.image" />
          </div>
          <div class="discount">{{ product.discount }}% OFF</div>
          <div class="icons">
            <a
              [class.active]="product.inFavourites"
              class="fav-icon"
              (click)="product.inFavourites = !product.inFavourites"
            >
              <mat-icon>favorite_border</mat-icon>
            </a>
            <a
              [class.active]="product.inCart"
              class="cart-icon"
              (click)="product.inCart = !product.inCart"
            >
              <mat-icon>shopping_cart</mat-icon>
            </a>
          </div>
          <div class="info-product">
            <div class="rating-stars">
              <div class="star" *ngFor="let star of product.rating">
                <mat-icon *ngIf="star == 1">star</mat-icon>
                <mat-icon *ngIf="star == 0.5">star_half</mat-icon>
                <mat-icon *ngIf="star == 0">star_border</mat-icon>
              </div>
            </div>
            <div class="name">{{ product.name }}</div>
            <div class="price">
              {{ product.price }} EGP / {{ product.lastPrice }} EGP
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
