@use "../../../../../styles.scss" as main;

.all-products {
  width: 100%;

  mat-sidenav-container {
    width: 100%;
    height: 100%;

    mat-sidenav {
      background-color: main.$color_SkyBlue_1;
      width: 280px;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;

      .con {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: main.$small_x;
        padding: main.$big main.$medium_x2 main.$small_x main.$big;

        .filter-secciones {
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: flex-start;
          gap: main.$big_x;

          .filter-seccion {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            gap: main.$medium;

            .title-filter-seccion {
              width: 100%;
              display: flex;
              align-items: center;
              justify-content: space-between;
              font-size: main.$medium_x;
              padding-bottom: main.$medium;
              color: main.$color_gray_3;
              border-bottom: 1px solid main.$color_gray_3;

              button {
                transform: rotate(0deg);
                transition: 0.3s;

                &.active {
                  transform: rotate(180deg);
                }
              }
            }

            .body-filter-seccion {
              width: 100%;
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              justify-content: flex-start;
              overflow: hidden;
              max-height: 0;
              transition: max-height 0.3s ease-out;

              &.show {
                overflow: visible;
                max-height: 2000px;
                transition: max-height 0.5s ease-in;
              }

              .group-checkboxes {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;

                li {
                  mat-checkbox {
                    color: main.$color_gray_3 !important;
                  }
                }
              }
            }
          }
        }

        button {
          text-align: center;
        }
      }
    }

    mat-sidenav-content {
      .main_title {
        width: 100%;
        background-color: main.$color_gray_2;
        padding: main.$medium;
        position: relative;
        display: flex;
        align-items: center;
        gap: main.$medium;

        &::before {
          content: "";
          height: main.$small;
          width: main.$large_x;
          background-color: main.$color_orang_1;
          position: relative;
          display: flex;
        }
      }

      .products {
        padding-bottom: main.$large;
        padding-left: main.$medium;
        padding-right: main.$medium;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        background-color: main.$color_gray_3;

        .head-products {
          padding: main.$big;
          width: 100%;
          display: flex;
          align-items: flex-start;
          justify-content: space-between;

          .num-products {
            @extend .paragraph;
            font-size: main.$medium_x;
          }

          ul {
            display: flex;
            align-items: flex-start;
            justify-content: center;
            gap: main.$small_x;

            li {
              button {
                transition: 0.3s;

                &.active {
                  background-color: main.$color_orang_1;
                  color: main.$color_gray_3;
                }
              }
            }
          }
        }

        .pagination {
          padding: main.$big_x 0;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        .media {
          display: none;
        }

        &.XSmall,
        &.Small {
          .media {
            display: flex;
          }
          .no_media {
            display: none;
          }
          .head-products {
            ul {
              align-items: center !important;
              gap: main.$small_x;
            }
          }
        }
      }
    }
  }
}
