<div class="reviews-product">
  <div class="container">
    <div class="sub_title">Customer Reviews</div>
    <div class="con">
      <div class="rating-info">
        <div class="average-rating">
          3.5
          <div class="rating-stars">
            <div class="star">
              <mat-icon>star</mat-icon>
            </div>
          </div>
        </div>

        <ul class="ratings">
          <li>
            <div class="num-star">
              5
              <div class="rating-stars">
                <div class="star">
                  <mat-icon>star</mat-icon>
                </div>
              </div>
            </div>
            <mat-progress-bar mode="determinate" value="100"></mat-progress-bar>
            <div class="num-ratings">1,400</div>
          </li>
          <li>
            <div class="num-star">
              4
              <div class="rating-stars">
                <div class="star">
                  <mat-icon>star</mat-icon>
                </div>
              </div>
            </div>
            <mat-progress-bar mode="determinate" value="80"></mat-progress-bar>
            <div class="num-ratings">900</div>
          </li>
          <li>
            <div class="num-star">
              3
              <div class="rating-stars">
                <div class="star">
                  <mat-icon>star</mat-icon>
                </div>
              </div>
            </div>
            <mat-progress-bar mode="determinate" value="60"></mat-progress-bar>
            <div class="num-ratings">400</div>
          </li>
          <li>
            <div class="num-star">
              2
              <div class="rating-stars">
                <div class="star">
                  <mat-icon>star</mat-icon>
                </div>
              </div>
            </div>
            <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
            <div class="num-ratings">100</div>
          </li>
          <li>
            <div class="num-star">
              1
              <div class="rating-stars">
                <div class="star">
                  <mat-icon>star</mat-icon>
                </div>
              </div>
            </div>
            <mat-progress-bar mode="determinate" value="10"></mat-progress-bar>
            <div class="num-ratings">45</div>
          </li>
        </ul>
      </div>
      <div class="reviews-info sub_session">
        <div class="sub_title">Top Reviews</div>
        <ul class="group-reviews">
          <li class="single-review">
            <div class="user">
              <div class="image">
                <img src="assets/images/seller_1.jpg" alt="" />
              </div>
              <div class="user-info">
                <div class="name">Abdalrhman Walid</div>
                <div class="rating-stars">
                  <div class="star">
                    <mat-icon>star</mat-icon>
                  </div>
                  <div class="star">
                    <mat-icon>star</mat-icon>
                  </div>
                  <div class="star">
                    <mat-icon>star</mat-icon>
                  </div>
                  <div class="star">
                    <mat-icon>star_half</mat-icon>
                  </div>
                  <div class="star">
                    <mat-icon>star_border</mat-icon>
                  </div>
                </div>
              </div>
            </div>
            <div class="date">2023 / 3 / 26</div>
            <div class="paragraph">
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry. Lorem Ipsum has been the industry's standard dummy text
              ever since the 1500s, when an unknown printer took a galley
            </div>
            <div class="bottom-review">
              <div class="verified">
                <mat-icon>check_circle_outline</mat-icon> Verified
              </div>
              <ul class="likes">
                <li class="like"><mat-icon>thumb_up_alt</mat-icon> 999</li>
                <li class="like"><mat-icon>thumb_down_alt</mat-icon> 999</li>
              </ul>
            </div>
          </li>
          <li class="single-review">
            <div class="user">
              <div class="image">
                <img src="assets/images/seller_1.jpg" alt="" />
              </div>
              <div class="user-info">
                <div class="name">Abdalrhman Walid</div>
                <div class="rating-stars">
                  <div class="star">
                    <mat-icon>star</mat-icon>
                  </div>
                  <div class="star">
                    <mat-icon>star</mat-icon>
                  </div>
                  <div class="star">
                    <mat-icon>star</mat-icon>
                  </div>
                  <div class="star">
                    <mat-icon>star_half</mat-icon>
                  </div>
                  <div class="star">
                    <mat-icon>star_border</mat-icon>
                  </div>
                </div>
              </div>
            </div>
            <div class="date">2023 / 3 / 26</div>
            <div class="paragraph">
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry. Lorem Ipsum has been the industry's standard dummy text
              ever since the 1500s, when an unknown printer took a galley
            </div>
            <div class="bottom-review">
              <div class="verified">
                <mat-icon>check_circle_outline</mat-icon> Verified
              </div>
              <ul class="likes">
                <li class="like"><mat-icon>thumb_up_alt</mat-icon> 999</li>
                <li class="like"><mat-icon>thumb_down_alt</mat-icon> 999</li>
              </ul>
            </div>
          </li>
        </ul>
        <a href="" class="main_link">See All</a>
      </div>
    </div>
  </div>
</div>
