.address-form {
  max-width: 500px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-content: center;

  form {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
}
