<div class="info-order">
  <div class="sub_session">
    <div class="sub_title">Shipping to</div>
    <div class="paragraph">
      New Damietta,<br />
      999 - 99999 Almarkazia,
    </div>
    <button mat-flat-button color="gray_3">Edit Address</button>
  </div>
  <div class="sub_session">
    <div class="sub_title">Order summary</div>
    <ul>
      <li>
        <div class="name">Items</div>
        <div class="value">999,999 EGP</div>
      </li>
      <li>
        <div class="name">Delivery</div>
        <div class="value">999,999 EGP</div>
      </li>
      <li class="prime">
        <div class="name">ORDER TOTAL</div>
        <div class="value">999,999 EGP</div>
      </li>
    </ul>
  </div>
  <button mat-flat-button color="orange">Continue</button>
</div>
