@use "../../../../../../styles.scss" as main;

.reviews-product {
  width: 100%;

  .container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: main.$large_x;

    .sub_title {
      color: main.$color_gray_3;
    }

    .con {
      width: 100%;
      display: grid;
      grid-template-columns: 1.5fr 4fr;
      align-items: flex-start;
      justify-content: flex-start;
      gap: main.$medium_x2;

      .rating-info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: main.$medium;

        .average-rating {
          width: 100%;
          padding: main.$big_x 0;
          display: flex;
          align-items: flex-start;
          justify-content: center;
          color: main.$color_gray_3;
          font-size: main.$large;
          font-weight: 900;
          gap: main.$small;

          mat-icon {
            font-size: main.$large;
            height: main.$large;
            width: main.$large;
          }
        }

        .ratings {
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: flex-start;
          gap: main.$medium;

          li {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: main.$small_x;

            .num-star {
              color: main.$color_gray_3;
              display: flex;
              align-items: center;
              justify-content: center;
              font-size: main.$medium;
              font-weight: 600;
              gap: main.$small;

              mat-icon {
                font-size: main.$medium;
                height: main.$medium;
                width: main.$medium;
              }
            }

            .num-ratings {
              color: main.$color_gray_3;
              justify-self: end;
            }

            mat-progress-bar {
              flex: 1;
              max-width: 60%;
            }
          }
        }
      }

      .reviews-info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;

        .sub_title {
          color: main.$color_dark_1;
          margin-bottom: main.$medium_x2;
        }

        .group-reviews {
          @extend .reviews-info;
          width: 100%;

          .single-review {
            @extend .group-reviews;
            border-top: 1px solid main.$color_gray_1;
            padding: main.$medium_x2 0;

            &:last-of-type {
              border-bottom: 1px solid main.$color_gray_1;
            }

            .user {
              display: flex;
              align-items: flex-start;
              justify-content: flex-start;
              gap: main.$small_x;

              .image {
                width: main.$large_x;
                height: main.$large_x;
                border-radius: 50%;
              }

              .user-info {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;
                gap: main.$small;
                margin-bottom: main.$small_x;

                .name {
                  font-weight: 600;
                  color: main.$color_dark_1;
                }
              }
            }

            .date {
              font-size: main.$medium;
              color: rgba($color: main.$color_dark_1, $alpha: 0.5);
              margin-bottom: main.$medium;
            }

            .paragraph {
              line-height: main.$big;
              margin-bottom: main.$big_x;
            }

            .bottom-review {
              width: 100%;
              display: flex;
              align-items: center;
              justify-content: space-between;

              .verified {
                @extend .paragraph;
                display: flex;
                align-items: center;
                justify-content: center;
                color: main.$color_green_1;
              }

              .likes {
                display: flex;
                align-items: center;
                justify-content: flex-end;
                gap: main.$medium;

                .like {
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  gap: main.$small;
                  @extend .paragraph;
                }
              }
            }
          }
        }

        .main_link {
          margin-top: main.$medium_x2;
          font-size: main.$medium_x;
        }
      }
    }
  }
}

:host ::ng-deep {
  mat-progress-bar {
    border-radius: 4px;

    .mdc-linear-progress__bar-inner {
      border-color: main.$color_orang_1;
    }

    .mdc-linear-progress__buffer-bar {
      background-color: rgba($color: main.$color_gray_3, $alpha: 1);
    }
  }
}

@media (max-width: 768px) {
  .reviews-product {
    .container {
      .con {
        grid-template-columns: 1fr;
      }
    }
  }
}
